body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  h2 {
    margin-top: 20px;
  }
  
  #blog-form {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  form label, form input, form textarea, form button {
    display: block;
    margin-bottom: 10px;
  }
  
  #blog-posts {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .blog-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  